/*PT Sans*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Sans&display=swap');


#feedback_form_wrapper
{
    display: none;
height: fit-content;
position: fixed;
align-self: center;
animation: forwards ease-in 0.5s;
opacity: 0;
margin-top: 200px;

}

@keyframes showFeedback /*fade effect*/
{
    
 
0%
{
    opacity: 0;
}

50%
{
    opacity: 0.5;
}
100%
{
    opacity: 1;
    display: block;
}
  
}
@keyframes hideFeedback /*fade effect*/
{
    
0%
{
    opacity: 1;
}

50%
{
    opacity: 0.5;
}
100%
{
    opacity: 0;
    display: none;
}
}
#feedback_form
{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    width: 500px;
    height: fit-content;
    align-items: center;
    border:1px solid black;
    padding: 50px 0;
    background-color: #433b3b;
}

.inp{
    margin: auto;
    height: 30px;
    background-color: #433b3b;
    color: #8A6E2F;
}

.txt_ar
{
    width: 300px;
    height:90px;
    margin: auto;
    resize: none;
    background-color: #433b3b;
    color: #8A6E2F;
}

.form_label
{

    width: fit-content;
    
}

.submit_button
{
    height: 50px;
    width:150px;
    background-color: #433b3b;
}

.inp::placeholder, .txt_ar::placeholder
{
    font-family: 'PT Sans', sans-serif;
    
    
}
.red_placeholder::placeholder
{
    
    
    color : #B22222;
}
.grey_placeholder::placeholder
{
    color: #696969;
}
#form_close_button
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 color: #FFFFFF;
    
    top: -30px;
    right: -30px;
    height: 30px;
    width: 30px;
    background-color: #008B8B;
}
#form_close_button:hover
{
    cursor: pointer;

}