@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#header
{
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #ADFF2F;
    left: 0;
}

#footer
{

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #70A61F;
    left: 0;
}
#menu
{
    
    font-family:"PT Sans";
    font-size: 14px;
    color: #FAEBD7;
    position:fixed;
    width: 100%;
    height:35px;
    top: 80px;
    display:flex;
    align-items: center;
    background-color: #70A61F;
    left: 0;
}

.styled_list
{
    
    display: flex;
    list-style-type: none;
    
    padding: 0 10px 0 10px;
    justify-content: space-between;
    position: relative; 
    margin: auto;
   width: 760px;
    max-width: 960px;
    
}

a{
    text-decoration: none;
    outline: none;
    color:#FAEBD7 ;
    border-bottom: 0px;
}
a:hover{

    border-bottom: 1px;
    text-decoration: underline;
    border-color: #FAEBD7;
}
#content
{
    font-family: 'PT Sans', sans-serif;
    width: 100px;
}